---
import Portada from '../components/inicio/Portada.astro';
import Productos from '../components/inicio/Productos.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="">
	<main class="w-full flex flex-col justify-center">
		<div id="acerca" class="w-full h-[650px]"></div>
		<div id="servicios" class="w-full h-[650px]">servicios</div>
		<div id="tienda" class="w-full h-[650px]">
			<Productos />
		</div>
		<div id="contacto" class="w-full h-[650px]">contacto</div>
		
	</main>
</Layout>