---
import Portada from '../components/inicio/Portada.astro';
import Productos from '../components/inicio/Productos.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="">
	<main class="w-full flex flex-col justify-center">
		<Portada />
		<Productos />
		
	</main>
</Layout>