---
import ProductosTienda from '../components/tienda/ProductosTienda.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="tienda">
	<main>
		<ProductosTienda />
		<h1>Welcome to <span class="text-gradient">tienda</span></h1>
		
	</main>
</Layout>