---
import BotonOne from "../botones/BotonOne.astro";

---
<div class="w-full h-[550px] overflow-hidden bg-transparent">
    <div class="md:w-4/5 md:mx-auto flex pt-8">
        <div class="md:w-full w-7/12 flex flex-col justify-center items-start">
            <div class="w-full" >
                <h2 class="md:text-6xl text-3xl md:text-center uppercase font-extrabold flex flex-col text-white ">ofertas <span>especiales</span></h2>
                <h3 class="uppercase md:font-medium md:text-center mt-2 text-white">estrena las mejores prendas</h3>
                <div class="w-full flex md:justify-center mt-4">
                    <BotonOne title="Información" />
                </div>
            </div>
            
        </div> 
    </div>
    
</div>