---
import BotonOne from "../botones/BotonOne.astro";

---
<div class="w-full h-screen relative ">
            <div class="w-2/5 absolute top-[10%] left-[34%] " >
                <h2 class="md:text-6xl text-3xl md:text-center uppercase font-extrabold flex flex-col text-white ">ofertas <span>especiales</span></h2>
                <h3 class="uppercase md:font-medium md:text-center mt-2 text-white">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                    "No hay nadie que ame el dolor mismo, que lo busque, lo encuentre y lo quiera, simnp plemente porque es el dolor."</h3>
                <div class="w-full flex md:justify-center mt-4">
                    <BotonOne title="Información" color="bg-black" text="text-white"/>
                </div>
            </div>
</div>