---
import BotonOne from "../botones/BotonOne.astro";

---
<div class="w-full h-[500px] overflow-hidden bg-[rgb(240,238,239)]">
    <div class="w-4/5 mx-auto flex">
        <div class="w-5/12 flex justify-end items-center">
            <img class="object-contain w-[50%]" src="/images/right.png" alt="">
        </div>
        <div class="w-8/12 flex flex-col justify-center items-start">
            <div>
                <h2 class="text-6xl text-center uppercase font-extrabold flex flex-col ">ofertas <span>especiales</span></h2>
                <h3 class="uppercase font-medium text-center mt-2">estrena las mejores prendas</h3>
                <div class="w-full flex justify-center mt-4">
                    <BotonOne title="Información" />
                </div>
            </div>
            
        </div> 
    </div>
    
</div>