---
---
<article class="w-4/5 mx-auto mt-8 grid grid-cols-3 gap-5">
    <div class="w-full bg-[rgb(192,184,184)] flex justify-center items-center">
        <img class="object-contain w-[45%]" src="/images/f1.png" alt="">
        <div>
            <h2>Mochilas</h2>
        </div>        
        
    </div>
    <div class="w-full bg-[rgb(192,184,184)] flex justify-center items-center">
        <img class="object-contain w-[45%]" src="/images/f2.png" alt="">
        <div>
            <h2>Zapatillas</h2>   
        </div>
    </div>
    <div class="w-full bg-[rgb(192,184,184)] flex justify-center items-center">
        <img class="object-contain w-[45%]" src="/images/f3.png" alt="">
        <div>
            <h2>Artilugios</h2>
        </div>
        
    </div>
</article>