---
import BotonOne from "./botones/BotonOne.astro";

---
<h2  class="text-center w-full h-16 relative text-white uppercase font-PTSerif text-3xl">ยก tenemos todo lo que nesesitas ! 
    <span class="absolute w-20  left-[43%] right-5 bottom-0 h-2 bg-white border-t-4 border-black block"></span>
</h2>
<p class="mt-3 font-serif text-center text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi temporibus soluta totam omnis repellendus eos dignissimos eveniet commodi vel dolorum? Culpa quae consectetur impedit ad, omnis eius recusandae at reprehenderit.</p>
<div class="flex justify-center items-center mt-4">
    <BotonOne title="Click Aqui" color="bg-white" text="text-black font-bold rounded-xl hover:bg-black hover:text-white py-1"/>
</div>