---

---
<header id="cabecera" class="w-full h-auto bg-transparent z-50">
    <div class="md:w-4/5 w-10/12 sm:w-4/5 mx-auto h-16  md:mx-auto md:grid md:grid-cols-4 sm:flex flex justify-between">
        <div class="text-black font-extrabold uppercase text-2xl flex items-center "><span>Logo</span></div>
        <div class="col-span-2">
            <nav  class="w-full">
                <ul class="hidden sm:hidden md:flex w-full items-center">
                    <li class="w-[25%] h-14 group "><a class="w-full h-full flex justify-center items-center" href="#acerca"><span id="color" class="group-hover:border-b-4 border-black font-bold md:text-black text-sm md:text-lg font-PTSerif">Acerca de</span></a></li>
                    <li class="w-[25%] h-14 group "><a class="w-full h-full flex lg:justify-center  items-center" href="#servicios"><span id="color" class="group-hover:border-b-4 border-black font-bold md:text-black md:text-lg text-sm font-PTSerif">Servicios</span></a></li>
                    <li class="w-[25%] h-14 group "><a class="w-full h-full flex justify-center items-center" href="#tienda"><span id="color" class="group-hover:border-b-4 border-black font-bold md:text-black text-sm md:text-lg font-PTSerif">Tienda</span></a></li>
                    <li class="w-[25%] h-14 group "><a class="w-full h-full flex justify-center items-center" href="#contacto"><span id="color" class="group-hover:border-b-4 border-black font-bold md:text-black text-sm md:text-lg font-PTSerif">Contacto</span></a></li>
                </ul >
                <ul id="menu" class="hidden fixed bg-[rgba(0,0,0,0.43)] mt-20 right-[8%] sm:right-[10%] w-52 flex-col justify-between h-44">
                    <li class="w-full flex justify-center"><a href="#acerca" class="text-white">Acerca de</a></li>
                    <li class="w-full flex justify-center"><a href="#servicios" class="text-white">Servicios</a></li>
                    <li class="w-full flex justify-center"><a href="#tienda" class="text-white">Tienda</a></li>
                    <li class="w-full flex justify-center"><a href="#contacto" class="text-white">Contacto</a></li>
                </ul>
            </nav>
            
        </div>
        <div class="w-4/12 sm:w-4/12 md:w-full flex justify-end items-center gap-2">
            <div id="compra" class="w-3/12 bg-slate-400 rounded-lg flex justify-center">
                <i class="fa-solid fa-cart-shopping text-xl"></i>
            </div>
            <div id="barra" class="md:hidden  w-3/12 bg-slate-400 rounded-lg flex justify-center">
                <i id="canbio" class="fa-solid fa-bars text-xl"></i>
            </div>
        </div>
    </div>
</header>

<article id="carro" class="fixed top-[96px] bg-[rgba(54,52,53,0.07)] backdrop-blur-sm transition-[right] delay-300 right-[-100%] w-[30%] ">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nisi explicabo dolorum blanditiis sit culpa in perspiciatis asperiores placeat excepturi mollitia tempora aliquid repudiandae dolore officiis molestiae, modi, possimus quod.
</article>


<script>
    let menu = document.getElementById("menu");
    let compra = document.getElementById("compra");
    let barra = document.getElementById("barra");
    let canbio = document.getElementById("canbio");
    let carro = document.getElementById("carro");
    
    window.addEventListener('scroll', function() {
        var nav = document.getElementById('cabecera');
        var scrollPos = window.scrollY;

        if (scrollPos > 0) {
            nav.style.position = 'fixed';
            nav.style.top = '0';
            nav.classList.add("bg-white");
            nav.classList.add("shadow-lg")
        } else {
            nav.style.position = 'static';
            nav.classList.remove("bg-white");
            nav.classList.remove("shadow-lg")

        }
    });


    barra.addEventListener("click", () => {
        if (menu.classList.contains("hidden")) {
            menu.classList.remove("hidden");
            menu.classList.add("flex");
            canbio.classList.remove("fa-bars");
            canbio.classList.add("fa-x");
        } else {
            menu.classList.remove("flex");
            menu.classList.add("hidden");
            canbio.classList.remove("fa-x");
            canbio.classList.add("fa-bars");
        }
    });
    compra.addEventListener("click", () => {
        if (carro.classList.contains("right-[-100%]")) {
            carro.classList.remove("right-[-100%]");
            carro.classList.add("right-[10%]")
        } else {
            carro.classList.remove("right-[10%]");
            carro.classList.add("right-[-100%]")
        }
    })

</script>