---
---
<header class="w-full h-auto bg-[rgb(240,238,239)]">
    <div class="md:w-4/5 w-full pt-2 md:mx-auto md:h-24 flex md:items-center">
        <h1 class="md:w-[30%] w-9/12 uppercase font-extrabold text-2xl"><span class="ml-5">logo</span></h1>
        <nav id="menu" class="md:w-2/5 w-[50%] hidden fixed top-12 right-3 bg-[rgba(56,55,56,0.36)] backdrop-blur-sm" >
            <ul class="md:flex ">
                <li class="md:w-1/5 w-full md:h-14 group"><a class="w-full h-full flex justify-center items-center" href="/"><span class="group-hover:border-b-4 border-black uppercase font-bold md:text-black text-white">inicio</span></a></li>
                <li class="md:w-1/5 md:h-14 w-full group"><a class="w-full h-full flex justify-center items-center" href="/tienda"> <span class="group-hover:border-b-4 border-black uppercase font-bold md:text-black text-white">tienda</span></a></li>
                <li class="md:w-1/5 md:h-14 group "><a class="w-full h-full flex justify-center items-center" href="/servicios"><span class="group-hover:border-b-4 border-black uppercase font-bold md:text-black text-white">servicios</span></a></li>
                <li class="md:w-1/5 md:h-14 group"><a class="w-full h-full flex items-center justify-center" href="/blog"><span class="group-hover:border-b-4 border-black uppercase font-bold md:text-black text-white">blog</span></a></li>
                <li class="md:w-1/5 md:h-14 group"><a class="w-full h-full flex justify-center items-center" href="/contacto"><span class="group-hover:border-b-4 border-black uppercase font-bold md:text-black text-white">contato</span></a></li>
            </ul>
        </nav>
        <div id="contCarr" class="md:w-[30%]  flex justify-end">
            <svg width="50" height="30" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">

                <path id="carr" class='cursor-pointer hover:fill-blue-500 fill-black' d="M27.5063 14.7128L29.9684 4.55659C30.1462 3.82329 29.5516 3.125 28.7495 3.125H8.29208L7.81469 0.937012C7.69573 0.39165 7.18386 0 6.59005 0H1.25C0.559636 0 0 0.524658 0 1.17188V1.95312C0 2.60034 0.559636 3.125 1.25 3.125H4.88974L8.54849 19.8943C7.67318 20.3662 7.08333 21.2511 7.08333 22.2656C7.08333 23.7758 8.38917 25 10 25C11.6108 25 12.9167 23.7758 12.9167 22.2656C12.9167 21.5003 12.5809 20.8088 12.0404 20.3125H22.9595C22.4191 20.8088 22.0833 21.5003 22.0833 22.2656C22.0833 23.7758 23.3892 25 25 25C26.6108 25 27.9167 23.7758 27.9167 22.2656C27.9167 21.183 27.2454 20.2475 26.2719 19.8044L26.5593 18.6191C26.737 17.8858 26.1425 17.1875 25.3404 17.1875H11.3603L11.0194 15.625H26.2873C26.871 15.625 27.3769 15.2464 27.5063 14.7128Z" fill="#111111"/>
            </svg> 
            
        </div>
        <div class="md:hidden w-7 h-7 cursor-pointer">
            <i id="bars" class="fa-solid fa-bars text-3xl text-center font-bold"></i>  
        </div>
       
    </div>
    
</header>
    <div id="actionCar" class="w-[40%] h-[calc(100vh-110px)] fixed right-[-100%] bg-[rgba(3,1,1,0.18)] ">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cupiditate alias deserunt sit iusto, ullam nobis dolores sed amet debitis consequuntur earum vitae quibusdam consequatur suscipit ad eaque magni consectetur?</p>
        </div>
        
    </div>
<script>
    let car = document.getElementById("carr");
    let bars = document.getElementById("bars");
    let menu = document.getElementById("menu");
    let contCar = document.getElementById("contCarr");
    let actionCar = document.getElementById("actionCar");
    contCar.addEventListener("click", () => {
       if (car.classList.contains("fill-black")) {
            car.classList.remove("fill-black");
            car.classList.add("fill-blue-500");
            actionCar.classList.remove("right-[-100%]");
            actionCar.classList.add("right-[10%]");
        } else {
            car.classList.remove("fill-blue-500");
            car.classList.add("fill-black");
            actionCar.classList.remove("right-[10%]");
            actionCar.classList.add("right-[-100%]")
        }
        
    });
    bars.addEventListener("click", () => {
        if (bars.classList.contains("fa-bars")) {
            bars.classList.remove("fa-bars");
            bars.classList.add("fa-x");
            menu.classList.remove("hidden");
        }else {
            bars.classList.remove("fa-x");
            bars.classList.add("fa-bars");
            menu.classList.add("hidden")
        }
        
    })
</script>
