---
---
<div>
    <h2 class="text-center font-PTSerif uppercase font-extrabold text-3xl mb-16">El mejor servicio </h2>
    <article class="grid grid-cols-4 gap-2 mt-16">
        <div class="flex flex-col justify-between w-full">
            <div class="flex justify-center w-full h-auto"><i class="fa-solid fa-motorcycle text-6xl"></i></div>
            <h2 class="text-center mt-2 font-PTSerif text-xl font-semibold uppercase ">Delivery</h2>
            <p class="text-center mt-2 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint minus commodi </p>
        </div>
        <div class="flex flex-col justify-between w-full">
            <div style="background-image: url(/cliente.jpg); background-size: contain; background-repeat: no-repeat; background-position: center;" class="flex justify-center w-full h-[70px]"></div>
            <h2 class="text-center font-PTSerif text-xl font-semibold uppercase ">atencion al Cliente</h2>
            <p class="text-center mt-2 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint minus commodi </p>
        </div>
        <div class="flex flex-col justify-between w-full">
            <div class="flex justify-center w-full h-auto"><i class="fa-solid fa-motorcycle text-6xl"></i></div>
            <h2 class="text-center mt-2 font-PTSerif text-xl font-semibold uppercase ">Personalizacion</h2>
            <p class="text-center mt-2 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint minus commodi </p>
        </div>
        <div class="flex flex-col justify-between w-full">
            <div class="flex justify-center w-full h-auto"><i class="fa-solid fa-motorcycle text-6xl"></i></div>
            <h2 class="text-center mt-2 font-PTSerif text-xl font-semibold uppercase ">Facilidad de compra</h2>
            <p class="text-center mt-2 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint minus commodi </p>
        </div>
        
    </article>
</div>