---
interface Props {
	title: string;
    color: string;
    text: string;
	
}

const { title, color, text } = Astro.props;
---
<div class=`md:w-3/5 py-1 w-[60%] md:text-center ${color} ${text}`>
    {title}
</div>